<table class="table table-responsive">
  <thead class="thead-default">

    <th>id</th>
    <th>title</th>
    <th>author</th>
    <th>publication_date</th>
    <th>stock</th>
    <th>Actions</th>
  </thead>
  <tbody *ngIf="books">
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>

      <td>{{book.title}}</td>


      <td>
        <a [routerLink]="['/author',book.author_id]">{{book.author_id}}</a>
      </td>

      <td>{{book.publication_date}}</td>

      <td>{{book.stock}}</td>


      <td>
        <a class="btn btn-sm btn-info" [routerLink]="['/book',book.id]"> Show </a>
        <button class="btn btn-sm btn-warning" (click)="updateBook(book.id)"> Edit </button>
        <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)"> Delete </button>
      </td>
    </tr>
  </tbody>
</table>
