<div class="container">
    <h3>Book</h3>
    <table class="table" *ngIf="book">
        
        <tr>
                        <td>id:</td>
            <td>{{book.id}}</td>
                    </tr>
        
        <tr>
                        <td>title:</td>
            <td>{{book.title}}</td>
                    </tr>
        
        <tr>
                        <td>author_id:</td>
            <td>{{book.author_id}}</td>
                    </tr>
        
        <tr>
                        <td>publication_date:</td>
            <td>{{book.publication_date}}</td>
                    </tr>
        
        <tr>
                        <td>stock:</td>
            <td>{{book.stock}}</td>
                    </tr>
        
    </table>
                    </div>