<div class="container">
  <div class="col-lg-6 col-sm-12">
    <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>id</label>
        <div class="input-group">
          <input class="form-control" type="text" name="id" [formControl]="id">
        </div>
      </div>

      <div class="form-group">
        <label>title</label>
        <div class="input-group">
          <input class="form-control" type="text" name="title" [formControl]="title">
        </div>
      </div>

      <div class="form-group">
        <label>author_id</label>
        <div class="input-group">
          <input class="form-control" type="text" name="author_id" [formControl]="author_id">
        </div>
      </div>

      <div class="form-group">
        <label>publication_date</label>
        <div class="input-group">
          <input class="form-control" type="date" name="publication_date" [formControl]="publication_date">
        </div>
      </div>

      <div class="form-group">
        <label>stock</label>
        <div class="input-group">
          <input class="form-control" type="text" name="stock" [formControl]="stock">
        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-primary" [disabled]="addBookForm.invalid" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
